# JetBrains IDE
.idea/

# applications
*.app
*.exe
*.war

# large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# data dumps
files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# db login data
src/mysql_db/config.py