# JetBrains IDE
.idea/

# applications
*.app
*.exe
*.war

# large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

# data dumps
files/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# db stuff
src/database/config.py
src/database/sql/
paths.py
*.pbix
src/population/nuts0.csv
src/population/test.csv
