# JetBrains IDE
.idea/

# applications
*.app
*.exe
*.war

# large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.csv
*.ftr

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# db stuff
config_db.yaml
cfg_login.yaml
*.pbix
doc/
*.db
